/.settings/
.project
.classpath
/.classpath
/.project
/target/
/.idea/
.iml
*.iml
*.releaseBackup
*.tmp.bak
*.bfmemo
/src/test/resources/quicknii/rat/qp/project.qpproj.backup
/src/test/resources/quicknii/rat/qp/initial_state_bdv_view.json
/src/test/resources/gerbi-omero-project/data/1/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/2/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/3/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/4/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/5/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/6/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/7/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/8/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/9/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/10/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/11/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/12/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/13/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/14/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/15/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/16/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/17/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/18/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/19/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/20/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/21/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/22/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/23/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/24/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/25/ABBA-RoiSet-allen_mouse_10um_java.zip
/src/test/resources/gerbi-omero-project/data/1/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/2/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/3/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/4/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/5/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/6/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/7/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/8/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/9/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/10/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/11/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/12/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/13/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/14/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/15/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/16/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/17/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/18/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/19/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/20/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/21/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/22/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/23/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/24/ABBA-Transform-allen_mouse_10um_java.json
/src/test/resources/gerbi-omero-project/data/25/ABBA-Transform-allen_mouse_10um_java.json
